# API Configuration
# Đổi giữa localhost và ngrok tùy nhu cầu

# API Base URL (Bao gồm cả /api/v1 prefix)
NEXT_PUBLIC_API_BASE_URL=yourbackendapi

# Ngrok Backend (Testing with external devices)
# NEXT_PUBLIC_API_BASE_URL=https://frettiest-ariella-unnationally.ngrok-free.dev/api/v1 // sử udnjg ngrok

# Production Backend (Deploy)
# NEXT_PUBLIC_API_BASE_URL=https://your-production-api.com/api/v1

# App Name
NEXT_PUBLIC_APP_NAME=BetterUS
